@import "components/address_autocomplete";

#list_title {
  text-align: center;
  margin-top: 25px;
  font-weight: 500;
  text-shadow: 0 2px 2px -2px rgba(0,0,0,.2); ;
  color: black;
  font-family: 'Dosis', sans-serif;
  font-size: 65px;
  letter-spacing: 2px;
}

#list_form {
  border-radius: 7px;
  box-shadow: 3px 3px 10px -3px lightgrey;
  background-color: white;
  display: flex;
  width: 45%;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  margin: 0 auto;
  margin-bottom: 40px;
  margin-top: 30px;
}

.form-horizontal {
  width: 100%;
}

.center-submit {
  text-align: center;
  margin-top: 40px;
}

.btn-outline-dark-new-space {
  font-family: "Nunito", "Helvetica", "sans-serif";
  color: black;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  background-color: #96F550;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
  border: none;
  text-align: center;
  transition: opacity 0.3s ease;
  margin-top: 10px;
}

.btn-outline-dark-new-space:hover {
background-color: #85dc47;
color: black;
text-decoration: none;
transition: 0.7s;
border: none;
}
