h2 {
  font-weight: bold;
}

.container {
  padding-top: 10px;
}

.owner-options {
  margin-top: 20px;
  text-align: center;
}

.booking-form {
  border-radius: 7px;
  box-shadow: 3px 3px 10px -3px lightgrey;

    .btn {
      width: 60%;
    }
}
