.container {
  background-color: white;
  height: 1000px;
  padding-top: 50px;
}

.title {
  margin: 20px;
}

.spaces_title {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  padding-top: 15px;
  background-color: rgb(235, 235, 235);
  align-items: center;
}

.btn {
  text-decoration: none!important;
}

.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;

}

.btn-ghost:hover {
  opacity: 1;
  text-decoration: none;
}

.spaces-index {
  margin: 20px;
  display: flex;
  column-width: 6;
}
