.container {
  background-color: white;
  padding-top: 50px;
}

.title {
  margin: 20px;
}

.title h1 {
  color: black;
  font-family: 'Dosis', sans-serif;
  font-size: 65px;
  letter-spacing: 2px;
  font-weight: 300px;
}

.spaces_title {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  padding-top: 15px;
  background-color: rgb(235, 235, 235);
  align-items: center;
  border-bottom: solid 0.5px #17BEBB ;
  border-right: solid 0.5px #17BEBB ;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2)

}

.btn {
  text-decoration: none!important;
}

.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;

}

.btn-ghost a {
  text-decoration: none;
  color: black;
  font-family: "Nunito", "Helvetica", "sans-serif";
}

.btn-ghost:hover {
  background-color: #17BEBB;
  opacity: 1;
  text-decoration: none;
  font-weight: 600;
  transition: 0.7s;
}

.spaces-index {
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-gap: 16px;

  a {
    text-decoration: none;
    color: black;
  }
}

@media(max-width: 992px) {
  .spaces-index {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .spaces-index {
    grid-template-columns: 1fr;
  }
}

.space-card {
  border-bottom: solid 0.5px #17BEBB ;
  border-right: solid 0.5px #17BEBB ;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}
