// .container {
//   background-color: white;
//   padding-top: 50px;
// }

.title {
  margin: 20px;
}

.title h1 {
  color: black;
  font-family: 'Dosis', sans-serif;;
  letter-spacing: 2px;
  font-weight: 525;
}

.spaces_title {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  padding-top: 15px;
  background-color: rgb(235, 235, 235);
  align-items: center;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2)

}

.btn {
  text-decoration: none!important;
}

.btn-ghost-list {
  color: black;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  background-color: #96F550;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2)
}
.btn-ghost-edit {
  color: white;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  background-color: #221D23;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2)
}

.btn-ghost-edit a {
  text-decoration: none;
  font-family: "Nunito", "Helvetica", "sans-serif";
  color: white;

}

.btn-ghost-list a {
  text-decoration: none;
  font-family: "Nunito", "Helvetica", "sans-serif";
  color: black;

}

.btn-ghost-list:hover {
  background-color: #85dc47;
  text-decoration: none;
  font-weight: 600;
  transition: 0.7s;
  border: none;
}

.btn-ghost-edit:hover {
  background-color: #221D23;
  text-decoration: none;
  font-weight: 600;
  transition: 0.7s;
}

.spaces-index {
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  // grid-gap: 16px;

  a {
    text-decoration: none;
    color: black;
  }
}

@media(max-width: 992px) {
  .spaces-index {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .spaces-index {
    grid-template-columns: 1fr;
  }
}
.space-card {
  box-shadow: 0 0.5px 1px 0.5px rgba(0,0,0,.2);
}
