<h1>Book a space</h1>

<div class="space-index-container">

<div class="space-grid">
    <% @spaces.each do |space|%>

      <div class="space-card card-with-link">

          <div class="space-card-image">
            <%= cl_image_tag space.photos.first.key %>
          </div>

        <div class="space-card-infos">
          <div>
            <h2><%= space.name %></h2>
          </div>
          <div>
            <h2 class="space-card-pricing">£<%= space.price_per_day.to_i %></h2>
          </div>
        </div>
        <%= link_to '', space_path(space), class: 'card-link' %>
      </div>

    <% end %>
  </div>

<div class="map-container">

</div>

</div>
