<h1>All spaces</h1>
<p>Find a space perfect for you</p>



<% @spaces.each do |space| %>
  <%= space.name %>
  <% if space.photos.attached? %>
  <%= cl_image_tag space.photos.first.key, height: 300, width: 400, crop: :fill %>
  <% end %>
<% end %>
