<div class="container">

<div class="row">

  <div id="carouselExampleIndicators" class="carousel slide mb-3 rounded col-9" data-bs-ride="true">

    <div class="carousel-inner">
      <% @space.photos.each do |photo| %>

        <div class="carousel-item active">
          <%= cl_image_tag photo.key, class: "d-block w-100" %>
        </div>

      <% end %>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>

  </div>

  <div class="booking-box border col-3 p-3">
    <h3>Book this flat</h3>
    <p>This will be a form displaying the booking options for the customer</p>
  </div>

</div>

  <h2><%= @space.name %></h2>

  <p><%= @space.description %> </p>

  <p>Price per day: £<%=@space.price_per_day.to_i%></p>

</div>
