<div class="footer_container">
  <div class="container">
    <div class="title">
      <h1>Hello, <%= @user.first_name %></h1>
    </div>
    <div class="spaces_title">
      <h4>Your spaces</h4>
      <div class="btn btn-ghost">
        <%= link_to "List a new space", new_user_space_path(@user) %>
      </div>
    </div>
    <div class="spaces-index">
    <% @spaces.each do |space|%>
      <div class="space-card">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
          <div class="space-card-infos">
            <h2><%= link_to space.name, space_path(space) %></h2>
          </div>
      </div>
    <div>
    <% end %>

  </div>
</div>
