<div class="footer mt-auto d-flex justify-content-between">
  <div class="footer-img">
    <%= image_tag "spacebooklogoinverted.png" %>
  </div>
  <div class="footer-copyright">
   <i class="fa-thin fa-copyright"></i> spacebook 2022
  </div>
</div>
