

<div class="banner" >
<div class="container-car">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">

          <%= image_tag 'eventhall1', class:"d-block w-100", style: 'height:500px;, object-fit:cover;' %>

          <div class='picure' style='background-image'></div>
        </div>
        <div class="carousel-item">

          <%= image_tag 'eventhall2', class:"d-block w-100", style: 'height:500px;, object-fit:cover;' %>
        </div>
        <div class="carousel-item">

          <%= image_tag 'eventhall3', class:"d-block w-100", style: 'height:500px;, object-fit:cover;' %>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    </div>

</div>


<h1>Welcome to Spacebook</h1>
