<div class="banner" style="height: 650px; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://res.cloudinary.com/dg6mudunt/image/upload/v1662123872/bar_dbax9v.jpg')">

    <div class="welcome">
      <h1>Welcome to Spacebook</h1>
      <h3>Find and hire the perfect spaces for your events and <br> for the most memorable nights</h3>
      <div class="welcome-button">
        <a class="btn btn-ghost-list" href="new_user_space_path(current_user)">List a space</a>
        <a class="btn btn-ghost-find" href="spaces_path">Find a space</a>
      </div>
    </div>
</div>


<div class="web-description">
  <h2>Go all out</h2>
  <b>Whether you're entertaining an intimate audience or heady crowd, the location is always key. Create an experience to remember in one of these unique event spaces.</b>
</div>


<div id="feature-title"><h1>This week's featured spaces:</h1></div>

<div class="container-fluid">
    <div class="spaces-index featured-index">
    <% @featured = @spaces.first(6) %>
    <% @featured.each do |space|%>
      <%= link_to space_path(space) do %>
      <div class="space-card mb-5">
        <div class="space-card-image">
          <%= cl_image_tag space.photos.first.key %>
        </div>
        <div class="space-card-infos">
          <div>
            <h2><%= space.name %></h2>
          </div>
          <div>
            <h2 class="space-card-pricing">£<%= space.price_per_day.to_i %></h2>
          </div>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
