.footer {
  background-color: black;
  display: flex;
  align-items: center;
  height: 220px;
  padding: 0px 50px;
  position: relative;
  bottom: 0;
  box-shadow: inset 0px 4px 3px rgba(50, 50, 50, 0.75);
}


img {
  position: relative;
  width: 220px;
  display: flex;
}

.footer-copyright {
  color: rgb(191, 191, 191);
  position: relative;
  font-size: 14 px;
}
