.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  background: white;
  position: relative;
  height: 125px;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  position: relative;
  width: 220px;
  display: flex;
  margin: 0 auto;
}

.nav-item {
  display: flex;
  align-content: flex-end;
  padding-right: 20px;
}

.dropdown-item:hover {
  background-color: rgb(244, 244, 244);
  transition: 0.5s;
}

.nav-item img {
  height: 50px;
  width: 50px;
}

.search-form-control{
  float:right;
}
