.space-card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 300px;
  // height: 250px;
  margin: 20px;
  padding: 0px;
  border-radius: 7px;
}

.space-card-image img {
  object-fit: cover;
  height: 200px;
  width: 300px;
  object-position: center
}

.space-card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.space-card p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.space-card .space-card-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  height: 70px;
}
